# IDEs
.idea
.vscode

# Linked files
# But keep allegro for convenience
*.dll
!allegro_monolith-5.2.dll
build

# MacOS
.DS_Store

# Others
log.txt
2025_I2P2_TowerDefense
/audios
/CMakeFiles
/images
/fonts
CMakeCache.txt
cmake_install.cmake
Makefile
scores.txt
